.bannerSection {
  position: relative;

  width: 100%;
  height: 400px;

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    z-index: 2;
}
}

.headingSection {
  padding: 1rem;

  margin: 1.5rem 0 4rem 0;

  h1 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 1.25rem;
  }

  > div {
    margin-bottom: 18px;
  }
}

.bodyContent {
  padding: 1rem;

  margin: 4rem 0;
}

.otherLinksContainer{
  border-top: 1px solid var(--gray-300);

  margin-top: 2rem;

  display: flex;
  justify-content: space-between;

  padding: 1rem .2rem;
}

.previousPostLink {
  display: flex;
  flex-direction: column;
  text-align: left;

  a {
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }
  }

  strong {
    font-size: 15px;
    margin-top: 3px;
    color: var(--pink-500);
  }
}

.nextPostLink {
  display: flex;
  justify-content: right;
  flex-direction: column;
  text-align: right;

    a {
      font-size: 18px;

      &:hover {
        text-decoration: underline;
      }
    }

  strong {
    font-size: 15px;
    margin-top: 3px;
    color: var(--pink-500);
  }
}
